[Unit]
Description=Countdown to a date on an EPD (EINK display)

After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 main.py
WorkingDirectory=/home/pi/oled_countdown/
Restart=always
RestartSec=5
KillMode=process
User=pi

[Install]
WantedBy=multi-user.target